h1 {
	font-size: 2.3em;
	text-align: center;
	color: 	#2F4F4F;
	
}
 
 div.scrollmenu {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a {
	display: inline-block;
	color: white;
	text-allign: center;
	padding: 14px;
	text-decoration: none;
}

div.scrollmenu a:hover {
	background_color: yellow;
}
 div.background of{
	background-color: #330;
	overflow: auto;
	white-space: nowrap;
}
div.gradient {
  background-image:
    linear-gradient(
      to right, 
       #800000 ,  #FFFAF0 
    );
	   overflow: auto;
}
div.gradient2 {
  background-image:
    linear-gradient(
      to left, 
       #800000 ,  #FFFAF0 
    );
	   overflow: auto;
}
div.medium{
	font-size: 2.3em;
	text-align: center;
	color: 	#FFFFFF;
}
div.small{
	font-size: .5em;
	text-align: center;
	color: 	#FFFFFF;
}
div.border {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
}
div.large{
	font-size: 4.3em;
	color: 	#2F4F4F;
}
div.radial-gradient {
  background-image:
    radial-gradient(
      circle closest-side,
      yellow,
      #800000
    );
	  overflow: auto;
}



